/* Inicializacion para sacar el padding y margin por defecto */
* {
    margin: 0;
    padding: 0;
}

/* Fuentes utilizadas en el sitio */
@font-face {
    font-family: fuenteProyecto;
    src: url(../fonts/Montserrat-Thin.ttf);
}

@font-face {
    font-family: fuenteMenu;
    src: url(../fonts/Montserrat-Light.ttf);
}

/* Propiedades para el sitio en general */
body {
    background: url(../images/starsBackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #252526;
    font-family: fuenteProyecto;
} 

/* Links sin estilo por defecto */
a {
    text-decoration: none;
}

/* Listas sin bullets */
ul{
    list-style-type: none;
}

/* Estilos de la barra de navegacion */
.nav {
    font-family: fuenteMenu;
    border-bottom: white solid 1px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.75)
}

.nav__img {
    width: 50px;
    vertical-align: middle;
}

/* Estilos para el banner con imagen y texto del sitio */
.slide {
    position: relative;
    text-align: center;
    color: white;
    display: grid;
    grid-template-areas:
    "telescopios" 
    "moon"
    ;
}

.slide__imagen{
    grid-area: moon;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
        transform: translate(100px);
    }
    100% {
        opacity: 1;
        transform: translate(0px);
     }
}

.slide__imagen__moon{
    width: 80%;
}

.slide__textos {
    grid-area: telescopios;
    margin-top: 7rem;
    animation: fadeInText ease 3s;
}

@keyframes fadeInText {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}


.slide__titulo{
    font-size: 9vw;
    margin-bottom: 1rem;
    text-shadow: 1px 1px 5px black;
}

.slide__bajada{
    font-size: 4vw;
}

/* Estilos para la seccion prinicipal y los elementos dentro */
.seccionPrincipal__items {
    display: grid;
    gap: 10px;
    grid-template-areas:
    "titulo" 
    "itemUno"
    "itemDos"
    "itemTres"
    ;
}

.seccionPrincipal__titulo {
    font-size: 5vw;
    color: white;
    text-transform: uppercase;
    grid-area: titulo;
    display: flex;
    justify-content: center;
}

.seccionPrincipal__parrafo {
    font-size: 1.20rem;
}

.seccionPrincipal__item {
    text-align: center;
    transition: all 1s;
}

.seccionPrincipal__item:hover {
    transform: scale(1.15);
}

#seccionPrincipal__itemUno{
    grid-area: itemUno;
}

#seccionPrincipal__itemDos{
    grid-area: itemDos;
}

#seccionPrincipal__itemTres{
    grid-area: itemTres;
}

.seccionPrincipal__contenedorInfo {
    color: white;
    display: grid;
    gap: 10px;
    grid-template-areas:
    "titulo" 
    "parrafos"
    "foto"
    ;
}

.seccionPrincipal__contenedorHistoria {
    color: white;
    grid-template-areas:
    "titulo" 
    "parrafoUno"
    "foto"
    "parrafoDos"
    "parrafoTres"
    ;
}

.seccionPrincipal__imgHistoria{
    width: 100%;
}

.seccionPrincipal__parrafoHistoria {
    font-size: 1.20rem;
}

#parrafoUno{
    grid-area: parrafoUno;
}

#parrafoDos{
    grid-area: parrafoDos;
}

#parrafoTres{
    grid-area: parrafoTres;
}

#imagenHistoria{
    grid-area: foto;
}

.seccionPrincipal__imagen{
    grid-area: foto;
}

.seccionPrincipal__imagen--ancho{
    width: 100%;
}

.seccionPrincipal__subtitulo {
    color: orangered;
    font-weight: bold;
    font-size: 1.25rem;
}

.seccionPrincipal__imagen iframe{
    width: 100%;
    height: 48vh;
    border: 0;
}

.seccionPrincipal__texto {
    grid-area: parrafos;
}

/* Estilos para los items que muestro en las secciones */
.imagenItem {
    border-radius: 50%;
    box-shadow: 1px 1px 5px black;
    width: 30vw;
    transition: all 1s;
}

.imagenItem:hover{
    box-shadow: 0px 0px 20px #fff;
}

.imagenItem--destacada {
    width: 45vw;
}

.tituloItem{
    color: white;
}

.tituloItem--destacado{
    font-size: 1.25rem;
}

.infoItem a{
    color: orangered;
    font-weight: bold;
}

/* Estilos para el pie del sitio */
.footer {
    background: linear-gradient(to right, black, #1B2631);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer__copyright span {
    font-weight: bold;
}

.footer__link {
    display: none;
}

.footer__link a {
    color: white;
}

/* Estilos para el formulario de contacto */

.inputFormulario--dimensiones {
    resize: none;
    height: 12rem;
}

label {
    color: white;
}

input, select, textarea, button {
    font-family: Arial, Helvetica, sans-serif;
}

/*Responsive*/

/*Tablets*/
@media screen and (min-width:768px) {

    .nav{
        display: flex;
        justify-content: center;
    }

    .nav__link__secundarios {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .nav__link__iconoMenu {
        display: none;
    }

    .slide {
        grid-template-areas:
        "telescopios moon";
        grid-template-columns: 2fr 1.25fr;
    }

    .slide__titulo{
        font-size: 8vw;
    }

    .slide__bajada{
        font-size: 3vw;
    }

    .slide__imagen{
       margin-top: 5rem;
    }

    .slide__textos{
        margin-top: 11rem;
     }

    .slide__imagen__moon{
        width: 100%;
     }

    .seccionPrincipal__items {
        grid-template-areas:
        "titulo titulo" 
        "itemUno itemDos"
        "itemTres itemTres"
        ;
    }

    .seccionPrincipal__titulo {
        font-size: 3vw;
        justify-content: start;
    }

    .imagenItem--destacada {
        width: 30vw;
    } 
    
    .tituloItem--destacado{
        font-size: 1.5rem;
    }

    .footer {
        justify-content: start;
    }

    .footer__link {
        display: flex;
        margin-left: auto;
    }
 
}

/*Desktops*/
@media screen and (min-width:1200px) {

    .slide__titulo{
        font-size: 7vw;
    }

    .slide__bajada{
        font-size: 2vw;
    }

    .slide__textos{
        margin-top: 19rem;
     }

    .seccionPrincipal__items {
        grid-template-areas:
        "titulo titulo titulo" 
        "itemUno itemDos itemTres"
        ;
    }

    .seccionPrincipal__titulo {
        font-size: 2.5vw;
    }

    .imagenItem--destacada {
        width: 20vw;
    }

    .seccionPrincipal__contenedorInfo {
        gap: 50px;
        grid-template-columns: 2fr 2fr;
        grid-template-areas:
        "titulo titulo" 
        "parrafos foto"
        ;
    }

    .imagenItem {
        width: 15vw;
    }

    .seccionPrincipal__contenedorInfo--mapa {
        grid-template-columns: 1fr 2fr;
    }
        
}