/*Variables SASS para estructura Grid*/
$bannerSmall:
"telescopios" 
"moon"
;

$bannerMedium: "telescopios moon";

$principalSmall:
"titulo" 
"itemUno"
"itemDos"
"itemTres"
;

$principalMedium:
"titulo titulo" 
"itemUno itemDos"
"itemTres itemTres"
;

$principalLarge:
"titulo titulo titulo" 
"itemUno itemDos itemTres"
;

$principalInfo: 
"titulo" 
"parrafos"
"foto"
;

$principalInfoLarge:
"titulo titulo" 
"parrafos foto"
;

$principalHistoria:
"titulo" 
"parrafoUno"
"foto"
"parrafoDos"
"parrafoTres"
;

$footerSmall:
"mapHome mapNosotros"
"mapProductos mapHistoria"
"mapContacto mapContacto";

$footerMedium:
"mapHome mapNosotros mapProductos mapHistoria mapContacto mapContacto";