/* Estilos para el pie del sitio */
.footer {
    background: linear-gradient(to right, $colorNegro, $azulGris);
    color: $colorBlanco;

    .footer__map {
        display: grid;
        grid-template-areas: $footerSmall;
        justify-content: center;

        #mapHome {
            grid-area: mapHome;
        }

        #mapNosotros {
            grid-area: mapNosotros;
        }

        #mapProductos {
            grid-area: mapProductos;
        }

        #mapHistoria {
            grid-area: mapHistoria;
        }

        #mapContacto {
            grid-area: mapContacto;
        }

        .footer__map--noBullets {
           list-style-type: none; 
        }

        .footer__map--noBullets li a {
            color: $colorBlanco;
        }
    }

    .footer__info {

        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 10vw;

        .footer__copyright {
            span {
                font-weight: bold;
            }
        }
        
        .footer__link {
            display: none;
    
            a {
                color: $colorBlanco;
            }
        }

    }

    
}

/*Responsive*/

/*Tablets*/
@media screen and (min-width:768px) {
    .footer {
        justify-content: start;

        .footer__map {
            grid-template-areas: $footerMedium;
        }

        .footer__info {
            margin-top: 5vw;

            .footer__link {
                display: flex;
                margin-left: auto;
            }
        }


    }

}

/*Desktops*/
@media screen and (min-width:1200px) {

    .footer {
        .footer__info {
            margin-top: 3vw;
        }
    }

}