/* Fuentes utilizadas en el sitio */
@font-face {
    font-family: fuenteProyecto;
    src: url(../fonts/Montserrat-Thin.ttf);
}

@font-face {
    font-family: fuenteMenu;
    src: url(../fonts/Montserrat-Light.ttf);
}

$fuenteStandard: Arial, Helvetica, sans-serif;