@import "tamanoFuente";

/*Mixin para imagenes de items*/
@mixin imagenItems ($b:0, $bs:0, $w:0, $t:0, $ba:border-radius, $bsa:box-shadow, $wa: width, $ta: transition) {
    #{$ba}:$b;
    #{$bsa}:$bs;
    #{$wa}:$w;
    #{$ta}:$t;
}

/* Estilos para la seccion prinicipal y los elementos dentro */
.seccionPrincipal__items {
    display: grid;
    gap: 10px;
    grid-template-areas: $principalSmall;

    .seccionPrincipal__item {
        text-align: center;
        transition: all 1s;

        &:hover {
            transform: scale(1.15);
        }

        /* Estilos para los items que muestro en las secciones */
        .imagenItem {
            @include imagenItems (50%, 1px 1px 5px $colorNegro, 30vw, all 1s);

            &:hover {
                box-shadow: 0px 0px 20px $colorBlanco;
            }
        }
        
        .imagenItem--destacada {
            @extend .imagenItem;
            width: 45vw;
        }
        
        .tituloItem {
            color: $colorBlanco;
        }
        
        .tituloItem--destacado {
            font-size: $h4;
        }
        
        .infoItem {
            a {
                color: $colorNaranja;
                font-weight: bold;
            }
        }
    }


    #seccionPrincipal__itemUno {
        grid-area: itemUno;
    }
    
    #seccionPrincipal__itemDos {
        grid-area: itemDos;
    }
    
    #seccionPrincipal__itemTres {
        grid-area: itemTres;
    }
}

.seccionPrincipal__contenedorInfo {
    color: $colorBlanco;
    display: grid;
    gap: 10px;
    grid-template-areas: $principalInfo;

    .seccionPrincipal__texto {
        grid-area: parrafos;

        .seccionPrincipal__subtitulo {
            color: $colorNaranja;
            font-weight: bold;
            font-size: $h5;
        }
    
        .seccionPrincipal__parrafo {
            font-size: $h6;
        }
    }

    .seccionPrincipal__imagen {
        grid-area: foto;

        iframe {
            width: 100%;
            height: 48vh;
            border: 0;
        }
    }
    
    .seccionPrincipal__imagen--ancho {
        width: 100%;
    }
}

.seccionPrincipal__titulo {
    font-size: $h4;
    color: $colorBlanco;
    text-transform: uppercase;
    grid-area: titulo;
    display: flex;
    justify-content: center;
}

.seccionPrincipal__contenedorHistoria {
    color: $colorBlanco;
    grid-template-areas: $principalHistoria;

    .seccionPrincipal__parrafoHistoria {
        font-size: $h6;
    }
    
    #parrafoUno {
        grid-area: parrafoUno;
    }
    
    #parrafoDos {
        grid-area: parrafoDos;
    }
    
    #parrafoTres {
        grid-area: parrafoTres;
    }
    
    #imagenHistoria {
        grid-area: foto;

        .seccionPrincipal__imgHistoria {
            width: 100%;
        }
    }
}

/* Estilos para el formulario de contacto */

.inputFormulario--dimensiones {
    resize: none;
    height: 12rem;
}

label {
    color: $colorBlanco;
}

input, select, textarea, button {
    font-family: $fuenteStandard;
}

.imagenDetail {
    width: 100%;
}

.modal {
    font-family: $fuenteStandard;
}

/*Responsive*/

/*Tablets*/

@media screen and (min-width:768px) {
    .seccionPrincipal__items {
        grid-template-areas: $principalMedium;

        .seccionPrincipal__item {

            .imagenItem--destacada {
                width: 30vw;
            } 
            
            .tituloItem--destacado {
                font-size: $h6;
            }

        }

    }

    .seccionPrincipal__contenedorInfo {

        .seccionPrincipal__texto {

            .seccionPrincipal__subtitulo {
                font-size: $h6;
            }
        
            .seccionPrincipal__parrafo {
                font-size: $h7;
            }
        }
        
    }
    
    .seccionPrincipal__titulo {
        font-size: $h5;
        justify-content: start;
    }

    .seccionPrincipal__contenedorHistoria {
    
        .seccionPrincipal__parrafoHistoria {
            font-size: $h7;
        }

    }
}

/*Desktops*/
@media screen and (min-width:1200px) {

    .seccionPrincipal__items {
        grid-template-areas: $principalLarge;

        .seccionPrincipal__item {

            .imagenItem {
               width: 15vw;
            }
    
            .imagenItem--destacada {
                width: 20vw;
            }

            .tituloItem--destacado {
                font-size: $h7;
            }

        }

    }

    .seccionPrincipal__titulo {
        font-size: $h6;
    }

    .seccionPrincipal__contenedorInfo {
        gap: 50px;
        grid-template-columns: 2fr 2fr;
        grid-template-areas: $principalInfoLarge;

        .seccionPrincipal__texto {

            .seccionPrincipal__subtitulo {
                font-size: $h7;
            }
        
            .seccionPrincipal__parrafo {
                font-size: $h8;
            }
        }
    }

    .seccionPrincipal__contenedorInfo--mapa {
        grid-template-columns: 1fr 2fr;
    }

    .seccionPrincipal__contenedorHistoria {
    
        .seccionPrincipal__parrafoHistoria {
            font-size: $h7;
        }
        
    }
        
}

@media screen and (min-width:1600px) {

    .seccionPrincipal__contenedorHistoria {
    
        .seccionPrincipal__parrafoHistoria {
            font-size: $h8;
        }
        
    }

}